In [1]:
import tabula
import pandas as pd

## Obtain PDF Link

obtain link from site HTML: https://stopcoronavirus.mcgm.gov.in/key-updates-trends

link located at:
```HTML
 <iframe src="https://docs.google.com/gview?embedded=true&url=http://stopcoronavirus.mcgm.gov.in/assets/docs/Dashboard.pdf"   width="100%" height="600" frameborder="0" ></iframe>
```

* automate daily download of PDF

## Scrape PDF

Obtain tables from file. Convert and save tables as csv files
Look at SoW to see what ward level data is needed

using tablua for scraping: http://theautomatic.net/2019/05/24/3-ways-to-scrape-tables-from-pdfs-with-python/

https://nbviewer.jupyter.org/github/chezou/tabula-py/blob/master/examples/tabula_example.ipynb

In [2]:
file = "http://stopcoronavirus.mcgm.gov.in/assets/docs/Dashboard.pdf"

new_case_growth = tabula.read_pdf(file, pages=24, multiple_tables=False)

In [3]:
new_case_growth[0]

,Date of report,RC,D,RS,HW,RN,C,E,PS,MW,...,GS,PN,L,N,KE,S,HE,B,ME,Grand Total
0,Area>>>,Borivali,Grant\rRoad,Kandivali,Bandra,Dahisar,Marine\rLines,Byculla,Goregaon,Chembur\rW,...,Elphinstone,Malad,Kurla,Ghatkopar,Andheri\rE,Bhandup,Khar,Sandhurst\rRoad,Chembur\rE,NaN
1,As on 13th Aug,6414,5166,5845,3416,3196,1733,4960,4127,3712,...,5496,7586,5480,6534,7888,6927,4360,1122,4429,122077.0
2,14-Aug,81,49,56,35,33,6,30,31,46,...,31,49,40,30,50,51,37,11,23,915.0
3,15-Aug,98,78,68,37,26,30,58,53,30,...,48,71,43,59,54,46,23,16,40,1146.0
4,16-Aug,82,55,74,31,17,29,43,37,24,...,45,43,34,34,50,42,19,1,28,941.0
5,17-Aug,57,34,48,40,10,12,30,17,21,...,34,37,29,39,28,30,19,6,17,703.0
6,18-Aug,83,56,68,30,36,7,28,37,25,...,33,58,28,37,36,42,18,4,11,860.0
7,19-Aug,79,63,58,38,53,18,51,34,31,...,33,51,32,49,52,41,31,5,31,1050.0
8,20-Aug,161,65,84,39,48,13,71,43,42,...,37,44,45,39,65,38,35,3,22,1200.0
9,As on 20th Aug,7055,5566,6301,3666,3419,1848,5271,4379,3931,...,5757,7939,5731,6821,8223,7217,4542,1168,4601,128892.0
10,Days to double,51,65,65,69,72,76,80,82,85,...,105,107,108,113,117,118,119,121,127,89.0
11,Wards <= 65 days to double\r➢Ward RC\r➢Ward D\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = new_case_growth[0]
df.drop(labels=11, inplace=True)

### Save ward identifier with corresponding ward name in a dictionary

In [5]:
wards = df.iloc[0][1:]
identifiers = df.iloc[0][1:].index
ward_identifiers = {}

In [6]:
# for loop needs to be fixed

for ward in wards:
    text = str(ward)
    name = text.replace('\r',' ')
    index = wards[wards=='Borivali'].index[0]
    for identifier in identifiers:
        if index == identifier:
            ward_identifiers[identifier] = name

In [7]:
ward_identifiers

{'RC': 'nan'}